@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.navbar {
  display: flex;
}


.mobileheader {
  display: none;
}

.navlinks {
  width: fit-content;
  margin: auto;
}

.navlinksm {
  width: fit-content;
  margin: auto;
  display: none;
}
.navlinks ul {
    /* position: relative;
    margin: 20px auto 0;
    width: 60%;
    height: 50px;
    background-color: white;
    border-color: black;
    font-size: 0;
     */

     margin: 0;
     padding: 0;
     display: flex;
}

.navlinksm ul {
    /* position: relative;
    margin: 20px auto 0;
    width: 60%;
    height: 50px;
    background-color: white;
    border-color: black;
    font-size: 0;
     */

     margin: 0;
     padding: 0;
     display: flex;
}

.navlinks li {
  list-style: none;
}
.navlinksm li {
  list-style: none;
}


.mainnav {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  font-weight: 800;
}

.mainnav:hover{
  text-decoration: none;
  color: rgb(224, 216, 216);
  font-weight: 900;
}

.mainnavactive {
  color:rgb(255, 255, 255);
  font-weight: 900;
}

/* nav {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color:black;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
} */

.fa-bars {
    color: #fff;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.navlinks li a {
  text-decoration: none;
  color: rgb(0, 0, 0); 
  margin: 38px;
  font-size: 20px;
  font-weight: 900;
}
.navlinksm li a {
  text-decoration: none;
  color: rgb(0, 0, 0); 
  margin: 38px;
  font-size: 20px;
  font-weight: 900;
}

.navlinks li:hover {
  background-color: rgb(228, 205, 205);
  border-radius: 8px;
}

.navlinksm li:hover {
  background-color: rgb(228, 205, 205);
  border-radius: 8px;
}

.togglebutton {
  position: absolute;
  top:.35rem; 
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width:33px;
  height: 25px;
  font-weight: 900;
  font-size: 35px;
}


.togglebuttonClose {
  position: absolute;
  top:0.25rem; 
  right: .50rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width:33px;
  height: 20px; 
  font-weight: 900;
  font-size: 35px;
}

/* .togglebutton .bar {
  height: 4px;
  width: 36px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
 */



@media only screen and (max-width: 700px) {


  .mobileheader {
    display: inline;
    margin: 5px 10px;
    font-weight: 900;
    text-decoration: none;
    color:brown;
  }

  .mobileheader a {
    color: brown;
  }

  .togglebutton {
    display: flex;
  }
  .togglebuttonClose {
    display: flex;
  }

  .navlinks {
    display: none;
    width: 100%;
  } 
   .navlinksm {
    display: flex;
    width: 100%;
  } 

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(228, 210, 210);
  }

  .fa-times {
        color: #fff;
        font-size: 2rem;
    }


  .navlinks ul {
     flex-direction: column;
     line-height: 30px;
     width:100%;
  }
  .navlinksm ul {
     flex-direction: column;
     line-height: 30px;
     width:100%;
  }


  .navlinks li:hover {
    background-color: rgb(216, 188, 188);
    border-radius: 0;
  }
  .navlinksm li:hover {
    background-color: rgb(216, 188, 188);
    border-radius: 0;
  }

  .navlinks.active {
    display:flex;
  }
  .navlinksm.active {
    display:flex;
  }
  
}



















/* a:nth-child(1) {
  width: 100px;
}


a:nth-child(2) {
  width: 100px;
}



a:nth-child(3) {
  width: 150px;
}


a:nth-child(4) {
  width: 100px;
}


a:nth-child(5) {
  width: 150px;
} */

