body{
  background-image: radial-gradient( circle farthest-corner at -0.1% 1.8%,  rgba(255,77,77,0.7) 0%, rgba(255,184,129,0.34) 100.2% );
}
.carousel-control-next, .carousel-control-prev{
  margin: -5%;
}
@media (min-device-width:992px){
            .aboutImg{
              width: 100%;
            }
        }
        @media (max-width:992px){
                    .aboutImg{
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 60%;
                    }
                }
                @media (max-width:576px){
                            .aboutImg{
                              display: block;
                              margin-left: auto;
                              margin-right: auto;
                              width: 75%;
                            }
                        }

                @media  (max-width:468px){
                            .aboutImg{
                            width: 100%;
                          }
                        }


                @media  (max-device-width:468px){
                            .aboutImg{
                            width: 100%;
                          }
                        }
